
<head>
    <title>Data Logger</title>
</head>

<h1>Data Logger</h1>

<form method="POST">
    <label for="user_name">Name:</label><br>
    <input type = "text" name="user_name" id = 'user_input'><br />
    <label for="workout_name">Workout:</label><br>
    <input type = "text" name="workout_name" id = 'user_input'><br />
    <label for="Set Number">Set #:</label><br>
    <input  type = "text" name="set_number" id = 'user_input'><br />
    <br />
    <button type="submit" name = "record_state" value="start">Start Recording</input>
</form>

    


